.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
*.swp
**.orig
*.rbc
*.sassc
.bundle
.rspec
.sass-cache
Gemfile.lock
capybara-*.html
config/*.yml
config/mongoid.yml
coverage/
db/*.sqlite3
log/*
pickle-email-*.html
public/system/*
rerun.txt
spec/tmp/*
tmp/*
vendor/*
